consulta de los datos en la API

In [2]:
#"login for make token"
import requests
import json

"""    'host': '23.102.103.53:5200',
    'user': 'bmontenegroprueba',
    'password': 'bmontenegroprueba',
    'database': 'BrayanMontenegro'"""
url = "http://23.102.103.53:5200/api/Login"
param = {
    "userName":"user",
    "password":"1234"
}
response = requests.post(url, json=param).json()
token = response['token']
print(token)

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InVzZXIiLCJqdGkiOiIzZDQ3YWI1NC05NzhlLTRkZmYtODkyNC0yMzQzZTBhMzI0OGMiLCJleHAiOjE2ODU4MDQyMDZ9.Ze9Is0P_e_4QqxJR9GMJwMY76xkgzUKfNFpAyJfS5Pc

In [6]:
import pandas as pd
import datetime
from IPython.display import clear_output
import time 
Headers = { 
        'accept': 'application/json',
        "Authorization" : "Bearer "+token,
        'Access-Control-Allow-Origin': '*'
     }

url_conteo_vehiculos = "http://23.102.103.53:5200/api/ConteoVehiculos/"
#Fecha con el día a consultar con formato “YYYY-MM-DD”.
ahora = datetime.datetime(2021, 8, 1)
fecha = ahora.strftime("%Y-%m-%d")
resp_st = '200'
df_cv = pd.DataFrame()
while '200' in str(resp_st):
        resp_st = requests.get(url_conteo_vehiculos+ahora.strftime("%Y-%m-%d"), headers=Headers)
        try:
            response_cv = resp_st.json()
            print(resp_st,ahora)
            df_dia = pd.DataFrame(response_cv)
            df_dia["fecha"] = ahora.strftime("%Y-%m-%d")
            df_cv = pd.concat([df_cv, df_dia], ignore_index=True, sort=False)
            #actualiza fecha
            ahora = ahora+ datetime.timedelta(days=1)
            clear_output(wait=True)
        except:
            response_cv = "---"
            print("fin datos")
print(df_cv)

fin datos
        estacion  sentido  hora categoria  cantidad       fecha
0          ANDES  BOG-CHI     0         I       377  2021-08-01
1          ANDES  BOG-CHI     1         I       244  2021-08-01
2          ANDES  BOG-CHI     2         I       172  2021-08-01
3          ANDES  BOG-CHI     3         I       157  2021-08-01
4          ANDES  BOG-CHI     4         I       250  2021-08-01
...          ...      ...   ...       ...       ...         ...
20355  UNISABANA  BOG-CHI    19       VII         3  2021-10-06
20356  UNISABANA  BOG-CHI    20       VII         3  2021-10-06
20357  UNISABANA  BOG-CHI    22       VII         1  2021-10-06
20358      ANDES  BOG-CHI    18         I        24  2021-10-06
20359      ANDES  BOG-CHI    23         I         5  2021-10-06

[20360 rows x 6 columns]

In [12]:
print(df_cv.head())
print(df_cv.dtypes)
data = []
for dt in df_cv.values:
    fc = dt[5].split("-")
    ahora = datetime.datetime(int(fc[0]), int(fc[1]), int(fc[2]), int(dt[2]),0,0)
    dt = list(dt)
    data.append([dt[0], dt[1], ahora, dt[3], dt[4]]) #.strftime("%m/%d/%Y, %H:%M:%S")
print(len(data))
data[0:10]
#estacion VARCHAR(50),sentido VARCHAR(50),fecha_hora TIME,cantegoria VARCHAR(50),cantidad INT

  estacion  sentido  hora categoria  cantidad       fecha
0    ANDES  BOG-CHI     0         I       377  2021-08-01
1    ANDES  BOG-CHI     1         I       244  2021-08-01
2    ANDES  BOG-CHI     2         I       172  2021-08-01
3    ANDES  BOG-CHI     3         I       157  2021-08-01
4    ANDES  BOG-CHI     4         I       250  2021-08-01
estacion     object
sentido      object
hora          int64
categoria    object
cantidad      int64
fecha        object
dtype: object
20360

[['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 0, 0), 'I', 377],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 1, 0), 'I', 244],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 2, 0), 'I', 172],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 3, 0), 'I', 157],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 4, 0), 'I', 250],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 5, 0), 'I', 744],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 6, 0), 'I', 1533],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 7, 0), 'I', 1803],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 8, 0), 'I', 1604],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 9, 0), 'I', 1594]]

Revision de las tablas existentes

In [16]:
import pyodbc
Server = '23.102.103.53'
Colección = 'BrayanMontenegro'
Usuario = 'bmontenegroprueba'
Contraseña = 'bmontenegroprueba'
conexion = pyodbc.connect('DRIVER={SQL Server};SERVER='+Server+';DATABASE='+Colección+';UID='+Usuario+';PWD='+Contraseña)
cursor = conexion.cursor()
cursor.execute("SELECT * FROM sys.tables;")
row = cursor.fetchone()
print(row)
conexion.close()

('TablaEstaciones', 741577680, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2023, 6, 2, 23, 37, 50, 170000), datetime.datetime(2023, 6, 2, 23, 37, 50, 170000), False, False, False, 0, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False)

In [21]:
import pyodbc
Server = '23.102.103.53'
Colección = 'BrayanMontenegro'
Usuario = 'bmontenegroprueba'
Contraseña = 'bmontenegroprueba'
conexion = pyodbc.connect('DRIVER={SQL Server};SERVER='+Server+';DATABASE='+Colección+';UID='+Usuario+';PWD='+Contraseña)
cursor = conexion.cursor()
cursor.execute("""SELECT TABLE_NAME
                    FROM INFORMATION_SCHEMA.TABLES
                    WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_CATALOG = 'BrayanMontenegro';
                    """)
row = cursor.fetchone()
print(row)
conexion.close()

('Tabla_Conteo_Vehiculos',)

Se creo la tabla

In [17]:
# se creo la tabla 
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de la tabla
#estacion VARCHAR(50),sentido VARCHAR(50),fecha_hora TIME,cantegoria VARCHAR(50),cantidad INT
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE Tabla_Conteo_Vehiculos (
                    estacion VARCHAR(50),
                    sentido VARCHAR(50),
                    fecha_hora SmallDateTime,
                    categoria VARCHAR(50),
                    cantidad INT
                    );
''')

# Confirmar los cambios
print(conn.commit())

# Cerrar la conexión
conn.close()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'Tabla_Conteo_Vehiculos' in the database. (2714) (SQLExecDirectW)")

In [20]:
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de un cursor
cursor = conn.cursor()

# Eliminación de la tabla
drop_table_query = "DROP TABLE Tabla_Conteo_Vehiculos"
cursor.execute(drop_table_query)

# Confirmar los cambios
print(conn.commit())

# Cerrar la conexión
conn.close()

None

Se preparan los datos para subirlos a la base de datos

In [30]:
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de un cursor
cursor = conn.cursor()

# Inserción de datos
insert_query = '''
    INSERT INTO Tabla_Conteo_Vehiculos (estacion, sentido, fecha_hora, categoria, cantidad)
    VALUES (?, ?, ?, ?, ?)
'''

#estacion VARCHAR(50),sentido VARCHAR(50),fecha_hora TIME,cantegoria VARCHAR(50),cantidad INT
cont = 18900
for row in data[cont:]:
    print(cont, row)
    try:
        cursor.execute(insert_query, row)
        clear_output(wait=True)
    except:
        break
    cont = cont + 1

# Confirmar los cambios
conn.commit()

# Cerrar la conexión
#6531 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 23, 16, 0), 'II', 164]
#18900 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 2, 2, 0), 'III', 26]
conn.close()

20359 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 6, 23, 0), 'I', 5]