consulta de los datos en la API

In [89]:
#"login for make token"
import requests
import json

"""    'host': '23.102.103.53:5200',
    'user': 'bmontenegroprueba',
    'password': 'bmontenegroprueba',
    'database': 'BrayanMontenegro'"""
url = "http://23.102.103.53:5200/api/Login"
param = {
    "userName":"user",
    "password":"1234"
}
response = requests.post(url, json=param).json()
token = response['token']
print(token)

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InVzZXIiLCJqdGkiOiJlZTA2MzNkOC0xMmQxLTQ1ODItOGI4NC0zNDc0OTBmNmFiNDkiLCJleHAiOjE2ODU4MDg3OTF9.T5T_kj8XgD6ID_PPWBrEirXeoaxcjYkucHnEKAZ9jeE

In [93]:
import pandas as pd
import datetime
from IPython.display import clear_output
import time 
Headers = { 
        'accept': 'application/json',
        "Authorization" : "Bearer "+token,
        'Access-Control-Allow-Origin': '*'
     }

url_conteo_vehiculos = "http://23.102.103.53:5200/api/RecaudoVehiculos/"
#Fecha con el día a consultar con formato “YYYY-MM-DD”.
ahora = datetime.datetime(2021, 8, 1)
fecha = ahora.strftime("%Y-%m-%d")
resp_st = '200'
df_rv = pd.DataFrame()
while '200' in str(resp_st):
        resp_st = requests.get(url_conteo_vehiculos+ahora.strftime("%Y-%m-%d"), headers=Headers)
        try:
            response_cv = resp_st.json()
            print(resp_st,ahora)
            df_dia = pd.DataFrame(response_cv)
            df_dia["fecha"] = ahora.strftime("%Y-%m-%d")
            df_rv = pd.concat([df_rv, df_dia], ignore_index=True, sort=False)
            #actualiza fecha
            ahora = ahora+ datetime.timedelta(days=1)
            clear_output(wait=True)
        except:
            response_cv = "---"
            print("fin datos")
print(df_rv)

fin datos
        estacion  sentido  hora categoria  valorTabulado       fecha
0          ANDES  BOG-CHI     0         I        3376100  2021-08-01
1          ANDES  BOG-CHI     1         I        2202200  2021-08-01
2          ANDES  BOG-CHI     2         I        1556100  2021-08-01
3          ANDES  BOG-CHI     3         I        1410500  2021-08-01
4          ANDES  BOG-CHI     4         I        2247700  2021-08-01
...          ...      ...   ...       ...            ...         ...
20355  UNISABANA  BOG-CHI    19       VII         149700  2021-10-06
20356  UNISABANA  BOG-CHI    20       VII         149700  2021-10-06
20357  UNISABANA  BOG-CHI    22       VII          49900  2021-10-06
20358      ANDES  BOG-CHI    18         I         218400  2021-10-06
20359      ANDES  BOG-CHI    23         I          45500  2021-10-06

[20360 rows x 6 columns]

In [103]:
print(df_rv.head())
print(df_rv.dtypes)
data = []
for dt in df_rv.values:
    fc = dt[5].split("-")
    ahora = datetime.datetime(int(fc[0]), int(fc[1]), int(fc[2]), int(dt[2]),0,0)
    dt = list(dt)
    data.append([dt[0], dt[1], ahora, dt[3], dt[4]]) #.strftime("%m/%d/%Y, %H:%M:%S")
print(len(data))
data[0:10]

  estacion  sentido  hora categoria  valorTabulado       fecha
0    ANDES  BOG-CHI     0         I        3376100  2021-08-01
1    ANDES  BOG-CHI     1         I        2202200  2021-08-01
2    ANDES  BOG-CHI     2         I        1556100  2021-08-01
3    ANDES  BOG-CHI     3         I        1410500  2021-08-01
4    ANDES  BOG-CHI     4         I        2247700  2021-08-01
estacion         object
sentido          object
hora              int64
categoria        object
valorTabulado     int64
fecha            object
dtype: object
20360

[['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 0, 0), 'I', 3376100],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 1, 0), 'I', 2202200],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 2, 0), 'I', 1556100],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 3, 0), 'I', 1410500],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 4, 0), 'I', 2247700],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 5, 0), 'I', 6734000],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 6, 0), 'I', 13850200],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 7, 0), 'I', 16370900],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 8, 0), 'I', 14560000],
 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 1, 9, 0), 'I', 14459900]]

Revision de las tablas

In [96]:
import pyodbc
Server = '23.102.103.53'
Colección = 'BrayanMontenegro'
Usuario = 'bmontenegroprueba'
Contraseña = 'bmontenegroprueba'
conexion = pyodbc.connect('DRIVER={SQL Server};SERVER='+Server+';DATABASE='+Colección+';UID='+Usuario+';PWD='+Contraseña)
cursor = conexion.cursor()
cursor.execute("SELECT * FROM sys.tables;")
row = cursor.fetchone()
print(row)
conexion.close()

('Tabla_Conteo_Vehiculos', 757577737, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2023, 6, 3, 9, 28, 20, 403000), datetime.datetime(2023, 6, 3, 9, 28, 20, 403000), False, False, False, 0, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False)

In [100]:
import pyodbc
Server = '23.102.103.53'
Colección = 'BrayanMontenegro'
Usuario = 'bmontenegroprueba'
Contraseña = 'bmontenegroprueba'
conexion = pyodbc.connect('DRIVER={SQL Server};SERVER='+Server+';DATABASE='+Colección+';UID='+Usuario+';PWD='+Contraseña)
cursor = conexion.cursor()
cursor.execute("""SELECT TABLE_NAME
                    FROM INFORMATION_SCHEMA.TABLES
                    WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_CATALOG = 'BrayanMontenegro';
                    """)
data = cursor.fetchall()

# Recorrer los resultados e imprimirlos
for row in data:
    print(row)

('Tabla_Conteo_Vehiculos',)
('Tabla_Recaudo_Vehiculos',)

Se creo la tabla

In [98]:
# se creo la tabla 
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de la tabla
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE Tabla_Recaudo_Vehiculos (
                    estacion VARCHAR(50),
                    sentido VARCHAR(50),
                    fecha_hora SmallDateTime,
                    categoria VARCHAR(50),
                    valor_tabulado DECIMAL(10, 2)
                    );
''')

# Confirmar los cambios
print(conn.commit())

# Cerrar la conexión
conn.close()

None

In [84]:
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de un cursor
cursor = conn.cursor()

# Eliminación de la tabla
drop_table_query = "DROP TABLE Tabla_Recaudo_Vehiculos"
cursor.execute(drop_table_query)

# Confirmar los cambios
print(conn.commit())

# Cerrar la conexión
conn.close()

None

In [ ]:
#!pip install pandas
import pandas as pd
import datetime
print(df.head())
print(df.dtypes)
data = []
for dt in df.values:
    fc = dt[5].split("-")
    ahora = datetime.datetime(int(fc[0]), int(fc[1]), int(fc[2]), int(dt[2]),0,0)
    dt = list(dt)
    data.append([dt[0], dt[1], ahora, dt[3], dt[4]]) #.strftime("%m/%d/%Y, %H:%M:%S")
data
#estacion VARCHAR(50),sentido VARCHAR(50),hora TIME,categoria VARCHAR(50),cantidad INT

In [105]:
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de un cursor
cursor = conn.cursor()

# Inserción de datos
insert_query = '''
    INSERT INTO Tabla_Recaudo_Vehiculos (estacion, sentido, fecha_hora, categoria, valor_tabulado)
    VALUES (?, ?, ?, ?, ?)
'''
cont = 0
for row in data:
    print(cont, row)
    try:
        cursor.execute(insert_query, row)
        clear_output(wait=True)
    except:
        print("se detuvo")
        break
    cont = cont + 1

# Confirmar los cambios
conn.commit()

# Cerrar la conexión
conn.close()

18247 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 9, 30, 13, 0), 'III', 1091400]