Revision de las tablas existentes

In [1]:
import pyodbc
Server = '23.102.103.53'
Colección = 'BrayanMontenegro'
Usuario = 'bmontenegroprueba'
Contraseña = 'bmontenegroprueba'
conexion = pyodbc.connect('DRIVER={SQL Server};SERVER='+Server+';DATABASE='+Colección+';UID='+Usuario+';PWD='+Contraseña)
cursor = conexion.cursor()
cursor.execute("""SELECT TABLE_NAME
                    FROM INFORMATION_SCHEMA.TABLES
                    WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_CATALOG = 'BrayanMontenegro';
                    """)
data = cursor.fetchall()

# Recorrer los resultados e imprimirlos
for row in data:
    print(row)
conexion.close()

('Tabla_Conteo_Vehiculos',)
('Tabla_Recaudo_Vehiculos',)

download y revision de datos desde la base de datos

In [17]:
# se creo la tabla 
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de la tabla
#estacion VARCHAR(50),sentido VARCHAR(50),fecha_hora TIME,cantegoria VARCHAR(50),cantidad INT
cursor = conn.cursor()
# Consulta para obtener todos los datos de la tabla
select_query = "SELECT * FROM Tabla_Conteo_Vehiculos"

# Ejecutar la consulta y obtener los resultados
df = pd.read_sql_query(select_query, conn)

# Cerrar la conexión
conn.close()
df

C:\Users\Inspiron G15\AppData\Local\Temp\ipykernel_3516\2365599472.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(select_query, conn)

       estacion  sentido          fecha_hora categoria  cantidad
0     UNISABANA  BOG-CHI 2021-10-02 03:00:00         V         1
1         ANDES  BOG-CHI 2021-10-03 03:00:00        VI         6
2         ANDES  BOG-CHI 2021-10-04 21:00:00       III        44
3     UNISABANA  BOG-CHI 2021-10-04 03:00:00        VI         1
4         ANDES  BOG-CHI 2021-10-05 07:00:00       VII         7
...         ...      ...                 ...       ...       ...
1455      FUSCA  BOG-CHI 2021-10-06 13:00:00       III         9
1456      FUSCA  BOG-CHI 2021-10-06 14:00:00       III         6
1457      FUSCA  BOG-CHI 2021-10-06 15:00:00       III         5
1458      FUSCA  BOG-CHI 2021-10-06 16:00:00       III        10
1459      FUSCA  BOG-CHI 2021-10-06 17:00:00       III         1

[1460 rows x 5 columns]

In [16]:
import pandas as pd
print(data[:10])
df_cv = pd.DataFrame(data, columns=["datos"])
print(df_cv.head())
def spl (a):
    return a[0]
df_cv = df_cv["datos"].apply(spl)
df_cv

[('UNISABANA', 'BOG-CHI', datetime.datetime(2021, 10, 2, 3, 0), 'V', 1), ('ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 3, 3, 0), 'VI', 6), ('ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 4, 21, 0), 'III', 44), ('UNISABANA', 'BOG-CHI', datetime.datetime(2021, 10, 4, 3, 0), 'VI', 1), ('ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 5, 7, 0), 'VII', 7), ('ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 6, 0, 0), 'II', 6), ('FUSCA', 'BOG-CHI', datetime.datetime(2021, 10, 6, 18, 0), 'III', 1), ('ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 2, 2, 0), 'III', 26), ('ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 2, 3, 0), 'III', 35), ('ANDES', 'BOG-CHI', datetime.datetime(2021, 10, 2, 4, 0), 'III', 63)]
                                              datos
0   [UNISABANA, BOG-CHI, 2021-10-02 03:00:00, V, 1]
1      [ANDES, BOG-CHI, 2021-10-03 03:00:00, VI, 6]
2    [ANDES, BOG-CHI, 2021-10-04 21:00:00, III, 44]
3  [UNISABANA, BOG-CHI, 2021-10-04 03:00:00, VI, 1]
4     [ANDES, BOG-CHI, 2021-10-05 07:00:00, VII, 7]

0       UNISABANA
1           ANDES
2           ANDES
3       UNISABANA
4           ANDES
          ...
1455        FUSCA
1456        FUSCA
1457        FUSCA
1458        FUSCA
1459        FUSCA
Name: datos, Length: 1460, dtype: object

In [20]:
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de un cursor
cursor = conn.cursor()

# Eliminación de la tabla
drop_table_query = "DROP TABLE Tabla_Conteo_Vehiculos"
cursor.execute(drop_table_query)

# Confirmar los cambios
print(conn.commit())

# Cerrar la conexión
conn.close()

None

Se preparan los datos para subirlos a la base de datos

In [29]:
import pyodbc

# Conexión a la base de datos
conn = pyodbc.connect('Driver={SQL Server};'+
                      'Server=23.102.103.53;'+
                      'Database=BrayanMontenegro;'+
                      'UID=bmontenegroprueba;'+
                      'PWD=bmontenegroprueba;'
                      )

# Creación de un cursor
cursor = conn.cursor()

# Inserción de datos
insert_query = '''
    INSERT INTO Tabla_Conteo_Vehiculos (estacion, sentido, fecha_hora, categoria, cantidad)
    VALUES (?, ?, ?, ?, ?)
'''

#estacion VARCHAR(50),sentido VARCHAR(50),fecha_hora TIME,cantegoria VARCHAR(50),cantidad INT
cont = 6531
for row in data[cont:]:
    print(cont, row)
    try:
        cursor.execute(insert_query, row)
        clear_output(wait=True)
    except:
        break
    cont = cont + 1

# Confirmar los cambios
conn.commit()

# Cerrar la conexión
#6531 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 8, 23, 16, 0), 'II', 164]
conn.close()

16664 ['ANDES', 'BOG-CHI', datetime.datetime(2021, 9, 25, 3, 0), 'I', 248]